<template name="home">
<div class="row">
	{{#each data}}
		<div class="col-sm-6 col-md-4 col-lg-3 item">
		<div class="thumbnail">
			<a href="{{ url }}">
			<img src="{{ thumb }}" alt="{{ title }}">
			</a>
		  <div class="caption">
		    <h3 class="title">{{ title }}</h3>
		    <p class="desc">{{ desc }}</p>
		    <p class="year">{{ year }} <span class="rating pull-right">{{ rating }} - Rating</span></p>
		    <p style="display:none" class="genre clearfix">{{ genre }}</p>
		  </div>
		</div>
		</div>
	{{/each}}
</div>
</template>